pkgbase = sonic-workspace-wallpapers
	pkgdesc = Additional wallpapers for the Sonic Workspace
	pkgver = 6.6.4
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-workspace-wallpapers
	arch = any
	groups = sonicde
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-base
	provides = plasma-workspace-wallpapers
	conflicts = plasma-workspace-wallpapers
	replaces = plasma-workspace-wallpapers
	source = sonic-workspace-wallpapers-6.6.4.tar.gz::https://github.com/Sonic-DE/sonic-workspace-wallpapers/archive/refs/tags/6.6.4.tar.gz
	sha256sums = bb6d6a0a3fa7c8045dbc112087d3fc77e3fd6a1cf65a359ad80250a32cdc7cec

pkgname = sonic-workspace-wallpapers
