pkgbase = sonic-workspace-wallpapers
	pkgdesc = Additional wallpapers for the Sonic Workspace
	pkgver = 6.7.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-workspace-wallpapers
	arch = any
	groups = sonicde
	license = LGPL
	makedepends = qt5-base
	makedepends = sonic-frameworks-cmake-modules
	provides = plasma-workspace-wallpapers
	conflicts = plasma-workspace-wallpapers
	source = sonic-workspace-wallpapers-6.7.0.tar.gz::https://github.com/Sonic-DE/sonic-workspace-wallpapers/archive/refs/tags/6.7.0.tar.gz
	sha256sums = 3412cc9aecbbd9badb120f0dd25ce26c13fbe81aae79e0adb5ef96dc7dc2d747

pkgname = sonic-workspace-wallpapers
