pkgbase = sonic-workspace-wallpapers
	pkgdesc = Additional wallpapers for the Sonic Workspace
	pkgver = 6.6.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-workspace-wallpapers
	arch = any
	groups = sonicde
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = qt5-base
	provides = plasma-workspace-wallpapers
	conflicts = plasma-workspace-wallpapers
	replaces = plasma-workspace-wallpapers
	source = sonic-workspace-wallpapers-6.6.5.tar.gz::https://github.com/Sonic-DE/sonic-workspace-wallpapers/archive/refs/tags/6.6.5.tar.gz
	sha256sums = 0440c2f0719f10db3cbd7a163ad3830e8586f6e4158c128780e7b9814d0bf46e

pkgname = sonic-workspace-wallpapers
